<footer class="text-muted">
  <div class="container d-flex justify-content-between">
    <div> <%= @copyright %></div>
     <%= link_to 'View all portfolio items', portfolios_path %>
  </div>
</footer>
