<div class="row">
  <div class="col-md-4">
    <%= image_tag 'https://z-p3-scontent.fkiv3-1.fna.fbcdn.net/v/t1.0-9/91110942_1650518588422851_4743189138117754880_n.jpg?_nc_cat=103&_nc_sid=110474&_nc_eui2=AeGFWrBynSpnZSX4tmCVIfRXG3Y9gvh1VoVM5kchRJbUbrgawhI9JlJGH7B3plnRhbyu08uwzm_o9KUfuI0JRdUUf9xMKnoz2_Sv2BRhOC0L9Q&_nc_ohc=0NKErG2MAm4AX_MkgS0&_nc_ht=z-p3-scontent.fkiv3-1.fna&oh=3515a222d71e6f8180419cb56fc7e87c&oe=5EA87973', width: 250 %>
  </div>

  <div class="col-md-8">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <%= link_to 'About me', about_path, class: 'btn btn-lg btn-secondary' %>
    </p>
  </div>
</div>
