<div class="row">
  <div class="col-6">
    <h1 class="cover-heading">About Me</h1>
    <h3>Addres: Moldova, Chisinau</h3>
    <p class="lead">69 stradela codrilor street</p>
    <h3>Phone</h3>
    <p>+37378129780</p>
    <h3>Email:</h3>
    <p><a href="mailto:liviu.cauia@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
  </div>
  <div class="col-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2720.010926717384!2d28.749776315809182!3d47.02039053628087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cbd5f80697acf9%3A0x123080f91ed02e7a!2sStradela%20Codrilor%2069%2C%20Durle%C8%99ti%202003%2C%20Moldova!5e0!3m2!1sen!2s!4v1585163433095!5m2!1sen!2s"
    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
